!!!
%html
  %head
    %title PaintTracker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "javascript:void(0);"} PaintTracker
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{:class => active_class('minis', 'index')}
              = link_to "Minis", root_path
            %li.dropdown{:class => active_class('users', 'show')}
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Users
                %span.caret
              %ul.dropdown-menu{role: "menu"}
                - User.all.each do |user|
                  %li
                    = link_to user.email, collection_path(user)
            %li{:class => active_class('minis', 'new')}
              = link_to "Post a Mini", new_mini_path
          %ul.nav.navbar-nav.navbar-right
            %li
              - if current_user
                = link_to "Logout", destroy_user_session_path, :method => :delete
              - else
                = link_to "Log In", new_user_session_path
        / /.navbar-collapse
      / /.container-fluid
    = yield